.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: calc(100% - 50px);
    min-height: 279px;
    border-radius: 14px;
    margin-inline: auto;

    &.skeleton {
        --height: 279px;
    }
}

.indicator {
    --dot-size: 10px;
    --dot-border-radius: 50%;
    --active-dot-size: 10px;
}
