.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size);
    gap: 20px;
    --font-size: 30px;

    .icon {
        color: var(--adm-color-primary);
    }

    .carousel {
        --height: var(--font-size);

        .text {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            color: var(--adm-color-text-secondary);
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .skeleton {
        --height: var(--font-size);
    }
}
