@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658441711583') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e6af";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-cartfill:before {
  content: "\e6b9";
}

.icon-menu:before {
  content: "\e630";
}

.icon-appstore:before {
  content: "\e75a";
}

.icon-user:before {
  content: "\e67d";
}

.icon-appstore1:before {
  content: "\e601";
}

.icon-home_fill_light:before {
  content: "\e7d8";
}

.icon-A_round:before {
  content: "\e62f";
}

.icon-User:before {
  content: "\e633";
}

