.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    color: var(--adm-color-primary);
    font-size: calc(var(--font-size) / 7.5 * 1vw);
    user-select: none;
}
