/* 1px border on retina display */
@svg 1px-border {
    width:

4px

;
    height:

4px

;

    @rect {
        fill: transparent;
        width: 100%;
        height: 100%;
        stroke-width: 25%;
        stroke: var(--color, #000);
    }
}


/* global style */
html, body {
    font-family: Helvetica, sans-serif, STHeiTi;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}

img {
    vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


/* antd-mobile theme */
:root:root {
    --adm-color-primary: #f190b7;
}


/* App */
#app {
    width: 100%;
    height: 100%;
}

#app .app-main {
    width: 100%;
    padding-bottom: 98px;
}
